<ion-view hide-nav-bar="true" id="page6">
    <ion-content padding="true">

        <h3>Nombre de la prueba: {{name}}</h3>
        <h3>Hoja de Resultados:</h3>


        <div class="row" ng-repeat="question in questions track by $index">
          <div class="card">
            <div class="item item-divider">
              Pregunta número {{$index+1}} ({{question.question.cod_question}})
            </div>
            <p>{{question.question.header_question}}</p>
            <div class="item item-text-wrap">
              <div class="list card">
                <div ng-repeat="option in question.question.answers track by $index" >
                  <div class="item" ng-if="option.is_correct">{{option.header_answer}}</div>
                </div>
              </div>
            </div>
          </div>
            <!--<div class="col-20">
                <a class="button button-royal button-block icon-left ion-eye" ng-click="showQuestion(question)">Pregunta {{$index+1}}</a>
            </div>
            <div class="col-20" ng-repeat="option in question.question.answers track by $index">
                {{option.header_answer}}
                <i class="icon ion-checkmark balanced button button-block" ng-if="$index == question.selected_index && option.is_correct"></i>
                <i class="icon ion-close-circled assertive button button-block" ng-if="$index == question.selected_index && !option.is_correct"></i>
            </div>-->
        </div>

        <!--<div class="row" ng-repeat="question in questions track by $index">
            <div class="col-20">
                <a class="button button-royal button-block icon-left ion-eye" ng-click="showQuestion(question)">Pregunta {{$index+1}}</a>
            </div>
            <div class="col-20" ng-repeat="option in question.question.answers track by $index">
                {{option.header_answer}}
                <i class="icon ion-checkmark balanced button button-block" ng-if="$index == question.selected_index && option.is_correct"></i>
                <i class="icon ion-close-circled assertive button button-block" ng-if="$index == question.selected_index && !option.is_correct"></i>
            </div>
        </div>-->


        <div class="button-bar">
          <a class="button button-balanced" ng-click="Print()">Descargar PDF</a>
          <a class="button button-positive" ng-click="goBack()">Volver</a>
        </div>

    </ion-content>
</ion-view>
